<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AAC_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E16D36F02068D7DD0001703A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16D37082068D7DE0001703A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16D37132068D7DE0001703A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
